#main-username
  height: 10vh

#photo-details-list
  max-height: 50vh
  overflow: scroll
  -webkit-overflow-scrolling: touch

#photo-details-likes-and-comments
  height: 5vh

#photo-details-textarea
  max-height: 60vh
  overflow: scroll
  -webkit-overflow-scrolling: touch

#photo-details-photo
  padding: 2vh