#strech-button-violet
  background-color: #a974ff
  color: white
  width: 100%

#search-button
  background-color: #f85378
  color: white

#follow-on-profile
  background-color: #a974ff
  color: white
  margin-left: 1%

#loggin-button
  background-color: #f85378
  color: white
  width: 100%

#add-photo-button
  background-color: #f85378 !important
  color: white !important
  width: 100% !important
  padding-left: 0 !important
  margin-top: 1%

.add-photo-button-wrapper
  padding: 0