.header {
    margin-bottom: 30px;
}

.image {
    margin-bottom: 20px;
}

#username {
    margin-left: auto;
    margin-right: 20px;
}

#password {
    margin-left: auto;
    margin-right: 20px;
}

#email {
    margin-left: auto;
    margin-right: 40px;
}

#login-btn {
    margin-bottom: auto;
}

.note {
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

/*.form-content*/
/*{*/
/*    padding: 5%;*/
/*    border: 1px solid #ced4da;*/
/*    margin-bottom: 2%;*/
/*}*/
.form-control {
    border-radius: 1.5rem;
}

.btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
    margin-top: 40px;
    margin-inside: 20px;
}

.alert-danger {
    border: none;
    border-radius: 1.5rem;
    margin-top: 30px;
    cursor: pointer;
    padding: 30%;
}

.modal-dialog {
    width: 100% !important;
    height: 100% !important;
}

#grad1 {
    background-image: linear-gradient(to bottom right, red, yellow); /* Standard syntax (must be last) */
}

.card {
    border: none;
    border-radius: 20px;
}

.btn-primary {
    border: none;
    border-radius: 8px;

    color: #DFEFFF;

    background-color: #5778F9 !important
}

.btn-primary:focus {
    box-shadow: none;
    outline: none;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #007bff !important;
    margin-bottom: auto;
    margin-right: 5px;
}

.list-group {
    width: 600px;
}

.body {
    background-color: #f1f3fa;
}


img {
    width: 100%;
    min-height: 100px;
}

.card {
    width: 600px;
    position: center;
}
