.image-container {
  position: relative;
}
.image-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.image-container img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.image-container2 {
  position: relative;
}
.image-container2 img {
  width: 100%;
  height: 70vh;
  border-radius: 25px;
}

#text-col-main-page {
  background-color: #f85378;
  color: white;
  border-radius: 25px;
}

#main-page-center-content {
  padding: 3%;
}

#footer {
  background-color: #fcb000;
  color: white;
}

#main-page-lower-content {
  padding-top: 3%;
}

#profilePhotos {
  padding-bottom: 3vh;
}

#user-bio {
  margin-bottom: 10%;
}

.badge {
  background-color: #a974ff;
}

#logo {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.active {
  background-color: white !important;
  color: #7468A7 !important;
  box-shadow: 2px 3px 8px #E1EBFD;
}

a {
  text-decoration: none !important;
  color: #A9B1FA;
}

#search-username {
  color: black;
}

#search-input {
  background-color: white !important;
  color: #7468A7 !important;
}

#search {
  margin-top: 5%;
}

#user-list {
  margin-top: 3vh;
}

.br_dropzone {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 50vh;
  height: 50vh;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.03) 75%, transparent 75%, transparent);
  background-color: #FAFCFD;
  background-size: 16px 16px;
}

.br_dropzone input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  font-size: 2rem;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.br_dropzone input[type=text] {
  background: none;
  border: none;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  box-sizing: border-box;
}

.br_dropzone.dragover {
  background-color: #eee;
  border: 6px dashed rgba(0, 0, 0, 0.1);
}

#add-photo-button {
  background-color: #f85378 !important;
  color: white !important;
  width: 100% !important;
  padding-left: 0 !important;
  margin-top: 1%;
}

.add-photo-button-wrapper {
  padding: 0;
}

#photo-details-list-container {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 200px;
}

#photo-details-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  overflow-x: hidden;
}

#photo-details-textarea {
  display: flex;
  flex-direction: column;
}

#photo-details-row {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}

#photo-details-photo-class {
  padding: 0 !important;
}

#photo-details-center {
  margin: 1%;
}

#photo-details-likes-and-comments {
  margin-top: 2%;
}

#photo-details-textarea-field {
  margin-top: 2%;
  margin-bottom: 2%;
}

#photo-details-list-container {
  margin-top: 1%;
  margin-bottom: 1%;
}

#CenterComponent {
  background: #d8e4f2;
  background: radial-gradient(circle, #d8e4f2 8%, #f2f5fe 47%, #f2f5fe 88%);
  border-right: 2px solid #d8e4f2;
  border-left: 2px solid #d8e4f2;
  min-height: 99vh;
}

h4 {
  margin-top: 4vh;
}

.body {
  margin: 1%;
}

#icon {
  margin: 1vh;
}

#login-register-nav {
  padding: 2vh;
}

#footer {
  height: 5%;
}

.pagination > li.active > a {
  background-color: #f85378;
  color: white;
  border-color: white;
}

.pagination > li.active > a:hover {
  background-color: #f85378;
  color: white;
  border-color: white;
}

.pagination > li > a,
.pagination > li > span {
  color: #f85378;
  background-color: #fff;
}

.pagination > li > span:hover {
  color: #f85378;
  background-color: #fff;
}

.pagination > li > a:hover {
  background-color: #f85378;
  color: white;
}

#follow-unfollow-button {
  background-color: #a974ff;
  color: white;
  width: 100%;
}

#search-button {
  background-color: #f85378;
  color: white;
}

#follow {
  background-color: #a974ff;
  color: white;
}

#follow-on-profile {
  background-color: #a974ff;
  color: white;
  margin-left: 1%;
}

#loggin-button {
  background-color: #f85378;
  color: white;
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
